@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Open+Sans:wght@600&display=swap');
@import url('./components/reset.css');
@import url('./components/scroll-bar.css');

header {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 26px;
    font-weight: bolder;
}

p,li,a {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: .7rem;
}

a {
    text-decoration: none;
}

code {
    display: block;
    line-height: 2;
    background-color: rgb(209, 207, 207);
    border-radius: 5px;
    padding: 1rem;
    margin: .5rem 0;
}

#navbar header {
    padding: 1rem;
    text-align: center;
}
#navbar ul {
    border: none;
    height: 150px;
    overflow-y: auto;
    background-color: rgb(209, 207, 207);
    border: 1px solid black;
}
#navbar li {
    padding: .4rem .4rem .4rem 2rem;
    border-bottom: 1px solid black;
    width: 100%;
}
#navbar a {
    color: black;
}
#navbar a:hover {
    color: rgb(61, 61, 228);
}

#main-doc {
    width: 85%;
    margin: auto;
}
#main-doc header {
    padding: 2rem 0 .5rem .3rem;
    color: rgb(176, 226, 176);
    width: 100%;
}
#Reference a {
    color: blue;
}
#Reference a:hover {
    color: rgb(176, 226, 176);
}
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer p {
    padding-right: 3rem;
}
footer a {
    color: blue;
}
footer a:hover {
    color: rgb(176, 226, 176);
}

@media screen and (min-width: 850px){
    .body {
        display: flex;
    }
    header {
        width: 30%;
    }
    #navbar header {
        position: fixed;
        color: rgb(176, 226, 176);
    }
    #navbar ul {
        position: fixed;
        margin-top: 60px;
        height: 90%;
    }
    #main-doc {
        width: 60%;
    }
}   